html {
  scroll-behavior: smooth;
}

/* header */
header {
  width: 100%;
  background: #f8f8f8;
  padding-bottom: 50px;
}

.gnb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gnb-wrap {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: transparent;
  transition: background-color 0.5s ease;
}

.gnb-wrap.scrolled {
  background: rgba(255, 255, 255, 0.8);
}

.gnb .gnb-menu {
  display: flex;
  gap: 50px;
}

.main-visual {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 150px;
}

.main-visual .imgbox {
  max-width: 500px;
  max-height: 670px;
  border-radius: 60px;
  overflow: hidden;
}

.main-visual .imgbox img {
  height: 100%;
}

/* Ready Go */
/* 기본 텍스트 스타일 */
.main-visual .blowing-text {
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
  text-align: end;
  font-size: 9.375rem;
}

.char {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: left bottom;
  animation-delay: calc(var(--char-index) * 0.025s);
  /* 각 문자에 다른 애니메이션 시간 적용 */
}

/* 애니메이션 이름 'blowing'이 적용될 때 */
.blowing-text.once .char {
  animation-name: blowing;
}

@keyframes blowing {
  0% {
    opacity: 0;
    transform: translateY(50px) skewX(0);
  }

  50%,
  60%,
  70% {
    transform: skewX(35deg);
  }

  55%,
  65%,
  75% {
    transform: skewX(40deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) skewX(0);
  }
}

.main-visual .txtbox .main-visual-menu {
  display: flex;
  gap: 30px;
  padding-top: 50px;
  justify-content: flex-end;
}

.main-visual-menu .viewbox {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.main-visual-menu .viewbox:hover {
  width: 180px;
}

.main-visual-menu .viewbox .icon {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.main-visual-menu .viewbox .icon img {
  width: 40px;
  vertical-align: bottom;
}

.main-visual-menu .viewbox:hover .icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.main-visual-menu .viewbox span {
  position: absolute;
}

.main-visual-menu .viewbox .text {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.main-visual-menu .viewbox:hover .text {
  transform: scale(1);
  transition-delay: 0.25s;
}

.main-visual .txtbox>p {
  font-size: 1.5rem;
  padding-top: 100px;
  text-align: right;
  line-height: 50px;
}

/* about */
#about {
  position: relative;
  background: #f8f8f8;
  width: 100%;
  min-height: 1800px;
  padding-top: 65px;
}

#about .titbg {
  position: relative;
  width: 40%;
  min-height: 300px;
  padding: 20px 0;
  background: #555;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

#about .titbg h2 {
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 5rem;
  text-align: end;
  color: #fff;
}

#about .about-wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#about .about-box {
  position: absolute;
  left: 48%;
  top: 200px;
  width: 50%;
  height: auto;
}

#about .about-txt {
  position: relative;
  top: 150px;
}

#about h3 {
  padding-bottom: 30px;
}

#about .about-main h3 {
  font-size: 2.25rem;
}

#about .about-box h3 {
  font-size: 1.75rem;
}

#about .about-main p {
  font-size: 1.125rem;
}

#about .contact ul li {
  padding-bottom: 8px;
}

#about .license {
  padding-top: 80px;
}

#about .license table tr {
  display: block;
  padding-bottom: 8px;
}

#about .license table tr td {
  padding-right: 16px;
}

#about .license table tr th {
  font-weight: normal;
}

#about .education {
  position: absolute;
  left: 40%;
  top: 0;
}

#about .education .period {
  position: relative;
  top: 10px;
  left: 0;
  margin-bottom: 80px;
  width: fit-content;
}

#about .education .period:first-child {
  margin-top: 60px;
}

#about .education .period:after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #333;
  height: 62px;
}

#about .education .period:first-child::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #333;
  height: 62px;
}

#about .education .period li {
  position: absolute;
  top: 0;
  left: 146px;
  white-space: nowrap;
}

#about .skills h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35%;
  font-size: 1.75rem;
}

#about .skill-con {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  min-width: 1280px;
}

#about .skills .skillbox {
  position: relative;
  text-align: center;
  width: 25%;
}

#about .skills .skillbox:nth-child(1),
#about .skills .skillbox:nth-child(2),
#about .skills .skillbox:nth-child(3),
#about .skills .skillbox:nth-child(4) {
  margin-bottom: 50px;
}

#about .skills .skillbox .canvas {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 170px;
}

#about .skills .skillbox .percent {
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.125rem;
  color: #333;
}

#about .skills .percent:after {
  content: "%";
}

/* poject */
#project {
  padding-top: 50px;
}

.flow-txt {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.flow-txt h2 {
  animation: textLoop 10s linear infinite;
  padding-right: 50px;
  font-size: 5rem;
}

@keyframes textLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

#project .inner {
  max-width: 1280px;
  margin: 0 auto;
}

#project .pj-box {
  display: flex;
  gap: 50px;
  min-height: 550px;
  padding-top: 100px;
}

#project .img-mask {
  min-width: 850px;
  max-height: 550px;
  background: #f8f8f8;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 8px #ccc;
}

#project .img-mask img {
  width: 100%;
  height: auto;
}

#project .pjtxt-box {
  position: relative;
  background: #f8f8f8;
  border-radius: 50px;
  padding: 40px;
}

#project .pjtxt-box h3,
#project .pjtxt-box table {
  padding-bottom: 10px;
}

#project .pjtxt-box table th {
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  padding-right: 20px;
  padding-top: 6px;
}

#project .pjtxt-box p {
  text-indent: 16px;
}

#project .pjtxt-box .spot {
  position: absolute;
  bottom: 40px;
  min-width: 300px;
  display: flex;
  gap: 26px;
  justify-content: center;
}

#project .pjtxt-box .spot li a {
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  color: #777;
}

#project .pjtxt-box .spot li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -3px;
  background: #333;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#project .pjtxt-box .spot li a:hover,
#project .pjtxt-box .spot li a:focus,
#project .pjtxt-box .spot li a:active {
  color: #333;
}

#project .pjtxt-box .spot li a:hover:before,
#project .pjtxt-box .spot li a:focus:before,
#project .pjtxt-box .spot li a:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* artwork */
#artwork {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

#artwork h2 {
  font-size: 5rem;
  padding-top: 100px;
}

#artwork .artwork-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
  font-size: 1.125rem;
  color: #ccc;
}

#artwork .artwork-menu li.show {
  color: #333;
}

#artwork .artwork-con {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#artwork .artwork-con ul {
  width: 33.3%;
}

#artwork .artwork-con ul li {
  margin-bottom: 20px;
}

#artwork .artwork-con ul img {
  width: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.con-zoomed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 1000;
  max-width: 50%;
  max-height: 40%;
  transition: transform 0.3s ease;
}

#artwork .artwork-card {
  position: relative;
  display: none;
}

#artwork .artwork-card ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 50px;
}

#artwork .artwork-card ul li {
  width: 25%;
}

#artwork .artwork-card ul li img {
  width: 100%;
}

.card-zoomed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}

/* footer */
footer {
  width: 100%;
  background: #f8f8f8;
}

footer .txtbox h2 {
  font-size: 5rem;
  padding-top: 20px;
  padding-bottom: 50px;
}

footer .txtbox {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

footer .txtbox>p {
  padding-bottom: 80px;
}

footer .spot {
  padding-bottom: 20px;
}

footer .spot span:first-child {
  padding-right: 10px;
}

footer .foot-menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 40px;
  color: #777;
}

footer .foot-menu li {
  position: relative;
}

footer .foot-menu li a {
  display: inline-block;
  margin-top: 20px;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  color: #777;
}

footer .foot-menu li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -3px;
  background: #333;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

footer .foot-menu li a:hover,
footer .foot-menu li a:focus,
footer .foot-menu li a:active {
  color: #333;
}

footer .foot-menu li a:hover:before,
footer .foot-menu li a:focus:before,
footer .foot-menu li a:active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

footer .copy {
  background: #333;
  color: #ccc;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 45px;
}